.state-dropdown button {
    background: white;
    height: 35px;
    width: 200px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 200px;
    padding-left: 10px;
}

.panel {
    color: black;
    background: white;
    align-items: center;
    margin: auto;
    justify-content: center;
    width: 350px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 12px;
    overflow-y: auto;
}

.state-dropdown {
    position: relative;
    border: none;
}

.panel fieldset {
    display: flex;
    align-items: center;
    border: none;
}